body {padding-bottom: 70px;}

.zeroPad {padding: 0;}

.zeroMargin {margin: 0;}

.addPadBtm {padding-bottom: 15px;}

.centerRow {
	text-align: center;
}

.centerCol {
	display: inline-block;
	text-align: left;
	float: none;
}

[ng-click] {
	cursor: pointer;
}